
$color-primary: #896E3E;
$color-secondary: #3E6189;
$color-black: #231f20;

$color-gradient-start: $color-secondary;
$color-gradient-end: mix( $color-primary, $color-secondary, 75%);

$color-error: #893E3E;
$color-success: #109B16;
