.center {
    margin-left: 50%;
}
.live-switch {
  padding-top: 1%;
}

.md-fab {
  margin-bottom: 2%;
}

.banner {
  height: 300px;
  overflow: hidden;
}

.stats {
  color: white;
}
.title-card {
  text-align: center;
}

.md-card {
  margin-bottom: 1%;
}

.desc {
  text-align: center
}

.btn-wrapper {
  text-align: center;
  .md-button {
    position: relative;
    left: 50%;
  }
}
.share {

  margin-left: 30%;
  text-align: center;
  padding: 2%;
}