  .md-list {
    width: 320px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(#000, .12);
  }
.img-card {
  overflow: hidden;
}
.banner {
  height: 300px;
  overflow: hidden;
}

.md-pad {
  margin: 5%;
}
  .featured-carousel {
    left: 10%;
    width: 100%;
  }

  .md-title {
    text-align: center;
  }
