.splash {
    // background-color: dimgrey;
}
.home-header {
//   text-align: center;
}
// .home-grid {
//     margin-left: 25%;
//     // margin-right: 30%;
// }
// .md-card {
//   width: 320px;
//   margin: 5%;
//   display: inline-block;
//   vertical-align: top;
// }
.hdr-text {
    font-size: 400%
}
.hdr-desc {
    font-size: 200%
}