@import 'reset.min.css';

// Variables
$color-primary: #A39264;
$color-primary-light: #BFB392;
$color-primary-lighter: #DAD3C1;
$color-primary-dark: #726646;
$color-text: $color-primary-dark;

$break-medium: 1280px;
$break-small: 1024px;
$break-mobile: 768px;
$break-mobile-small: 400px;

$grid-margin-large: 64px;
$grid-margin-medium: 32px;
$grid-margin-small: 16px;
$grid-gutter: 32px;

$transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
$transition-duration: 0.15s;


// Basics

html {
  font-size: 18px;
  color: $color-text;
  font-family: 'Nunito Sans', sans-serif;
  color: $color-text;
}
body {
  background-color: $color-primary-dark;
}

// Text Styles

.navigation {
  a {
    font-size: 0.8rem;
    line-height: 1;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
  }
}
button {
  font-size: 0.8rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
}
h2 {
  &.cover-title {
    font-weight: 300;
    font-size: 3.052rem;
  }
  font-size: 2.441rem;
  line-height: 1.2;
  font-weight: 300;
  color: $color-primary;
}
.cover-text {
  font-size: 1.563rem;
  line-height: 1.2;
  font-weight: 300;
}
h3 {
  font-size: 1.953rem;
  line-height: 1.35;
  font-weight: 300;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
}
p {
  line-height: 1.5;
}
label {
  font-size: 1rem;
  line-height: 1;
}
figure {
  font-size: 0;
}
figcaption {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-top: 8px;
}

.select-wrapper {
  position: relative;

  select {
    appearance: none;
    width: 100%;
    display: block;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $color-primary;
    height: 48px;
    font-size: 1rem;
    outline: none;

    &:hover, &:focus {
      border-color: $color-primary-dark;
    }
  }

  &::after {
    display: block;
    content: "▾";
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0;
    top: calc( (48px - 1rem)/2 );
    right: 0.5rem;
    color: $color-primary;
    text-align: center;
  }
}
input {
  width: 100%;
  display: block;
}

// Grid Basics

.content-wrapper {
  max-width: 1440px;
  box-sizing: border-box;
  margin: auto;
  padding: 0 $grid-margin-large;
}
.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.col {
  padding: 0 $grid-gutter;
  box-sizing: border-box;
  width: 100%;

  .row {
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
  }
}

// Global Elements

button {
  display: inline-block;
  box-sizing: border-box;
  height: 48px;
  padding: 0 24px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  outline: none;
  transition: all $transition-duration $transition-timing-function;

  &.primary {
    background-color: $color-primary;
    color: white;
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.25);
    &:hover {
      background-color: $color-primary-dark;
    }
  }
  &.secondary {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    &:hover {
      border-color: $color-primary-dark;
      color: $color-primary-dark;
    }
  }

  .section-content-dark & {
    border-color: white;
    color: white;
    &:hover {
      border-color: $color-primary-lighter;
      color: $color-primary-lighter;
    }
  }

}

.image-box {
  box-sizing: border-box;
  width: 100%;
  background-image: url("../img/image-box-wenker.jpg");
  background-size: cover;
  background-position: 50% 0;

  .row {
    justify-content: flex-end;
  }
  .col-text-box {
    width: 58.333%;
    .text-box {
      padding: $grid-gutter*2;
      margin: $grid-gutter*2;
      background-color: white;
      h3 {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 24px;
      }
    }
  }
}

.transcription-box {
  display: flex;
  height: 480px;

  .image-browser {
    width: 66.667%;
    height: 100%;
    position: relative;

    .croppa-container {
      width: 100%;
      height: 100%;
      canvas {
        width: 100%!important;
        height: 480px!important
      }
    }
    button.zoom {
      font-size: 0;
      width: 48px;
      position: absolute;
      &.zoom-in {
        bottom: 16px;
        left: 16px;
      }
      &.zoom-out {
        bottom: 16px;
        left: calc( 16px + 48px + 16px);
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        left: 25%;
        top: 25%;
      }
    }
  }
  .transcription-form {
    width: 33.333%;
    height: 100%;
    overflow: scroll;
  }
}

// Components

header {
  background-color: $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99;
  box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.25);

  .logo {
    display: inline-block;
    margin: 16px;
    font-size: 0;
    img {
      display: inline-block;
      height: 48px;
    }
  }

  .navigation {
    position: absolute;
    top: 0;
    right: 24px;
    font-size: 0;

    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 32px 16px;
        box-sizing: border-box;
        height: 80px;
        transition: color $transition-duration $transition-timing-function;
        &.router-link-active {
          border-bottom: 4px solid white;
        }
      }
      &.active {
        a {
          border-bottom: 4px solid white;
        }
      }
      &:hover {
        a {
          color: $color-primary-light;
        }
      }
    }
  }
}

#app {
  margin-top: 80px;
}

.section-cover {
  height: 560px;
  background-image: url("../img/cover.jpg");
  background-size: cover;
  background-position: 50% 35%;
  position: relative;

  .content-wrapper {
    height: 100%;
    .row {
      height: 100%;
      align-items: center;
    }
  }


  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary-dark;
    opacity: 0.6;
  }

  .col-cover-text {
    width: 50%;
    text-align: center;
    font-size: 0;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;

    .cover-title {
      margin-bottom: 16px;
      color: white;
    }
    .cover-text {
      margin-bottom: 24px;
      color: white;
      font-weight: 400;
    }

    button {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .cscc_logo {
    height: 48px;
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}


.section-content {
  padding: 64px 0;
  background-color: white;

  &.section-content-dark {
    background-color: $color-primary;
    color: white;
  }
  &.section-content-sharing {
    background-color: $color-primary-lighter;
    .col-title h2 {
      color: $color-primary-dark;
    }
  }
  &.section-content-footer {
    background-color: $color-primary-dark;
  }

  .col-title {
    width: 50%;
    text-align: center;
  }
  .col-subtitle {
    width: 66.667%;
    text-align: center;
  }

  h2 {
    margin-bottom: 72px;
  }
  h3 {
    margin-bottom: 48px;
  }
  h4 {
    margin-bottom: 48px;
  }
  p {
    margin-bottom: 48px;
  }
  figure {
    margin-bottom: 48px;
  }

  .col-action {
    width: 50%;
    width: 33.333%;
    text-align: center;
    &:first-child {
      margin-right: 16.667%;
    }
    img {
      width: 50%;
      font-size: 0;
      margin-bottom: 24px;
    }
  }

  .col-wenker-image {
    width: 33.333%;
    margin-left: 8.333%;
    margin-right: 8.333%;
    .wenker-portrait {
      border-radius: 50%;
      overflow: hidden;
      border: 16px solid $color-primary-light;
      img {
        width: 100%;
      }
    }
  }
  .col-wenker-text {
    width: 33.333%;
    margin-right: 16.667%;
    display: flex;
    align-items: center;
  }

  .col-form {
    width: 33.333%;

    .form-section {
      text-align: center;
      margin-bottom: 48px;

      select {
        margin-bottom: 16px;
      }
    }
  }

  .col-text {
    width: 50%;

    img {
      width: 100%;
    }

  }

  .col-sharing {
    text-align: center;

    a {
      display: inline-block;
      width: 48px;
      height: 48px;
      font-size: 0;
      margin-right:48px;
      &:last-child {
        margin-right: 0;
      }
      img {
        max-width: 48px;
        max-height: 48px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .col-footer-left {
    width: 50%;
    img {
      display: inline-block;
      height: 48px;
    }
  }
  .col-footer-right {
    width: 50%;
    color: white;
    display: flex;
    align-items: center;

    div {
      width: 100%;
      text-align: right;
      a {
        margin-right: 16px;
        color: white;
        text-decoration: none;
        &:hover {
          color: $color-primary-light;
        }
      }
    }
  }
}


// Media Queries

@media screen and (max-width: $break-medium) {

  header {
    .navigation {
      li {
        a {
          padding: 32px 8px;
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {

  .content-wrapper {
    padding: 0 $grid-margin-medium;
  }

  header {
    .navigation {
      li {
        display: none;
        &:last-child {
          display: inline-block;
        }
      }
    }
  }

  .section-cover {
    .col-cover-text {
      width: 66.667%;
    }
  }
}

@media screen and (max-width: $break-mobile) {

  .content-wrapper {
    padding: 0 $grid-margin-small;
  }

  header {
    height: 64px;
    .logo {
      margin: 16px;
      img {
        height: 32px;
      }
    }
    .navigation {
      right: 16px;
      li {
        a {
          padding: 24px 16px;
          height: 64px;
        }
      }
    }
  }

  #app {
    margin-top: 64px;
  }

  h2 {
    &.cover-title {
      font-size: 2.441rem;
    }
    font-size: 2.441rem;
  }
  .cover-text {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 300;
  }
  h3 {
    font-size: 1.953rem;
    line-height: 1.2;
    font-weight: 300;
  }

  .section-cover {
    height: auto;
    .col-cover-text {
      width: 100%;
      padding-top: 64px;
      padding-bottom: 80px;
    }
    .cscc_logo {
      height: 32px;
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
  }
}

@media screen and (max-width: $break-mobile-small) {
  .section-cover {
    .col-cover-text {
      button {
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
