@import "~vue-material/dist/theme/engine";

$prim: md-get-palette-color(red, A400) !default;
$acc: md-get-palette-color(red, A200) !default;


@mixin update-theme($theme, $scheme) {
    @if $theme == "default" or $theme == "default-dark" {
        $prim: md-get-palette-color(red, A700) !global;
        $acc: md-get-palette-color(red, 100) !global;
    } @else if $theme == "yellow" {
        $prim: md-get-palette-color(yellow, A400) !global;
        $acc: md-get-palette-color(red, A200) !global;
    } @else if $theme == "indigo" {
        $prim: md-get-palette-color(indigo, A400) !global;
        $acc: md-get-palette-color(green, A200) !global;
    }
    @include md-register-theme($theme, (
        primary: $prim,
        accent: $acc,
        theme: $scheme
    ));
}


@include update-theme("default-dark", "dark");

@include update-theme("yellow", "light");

@include update-theme("indigo", "light");
@include update-theme("default", "light");

@import "~vue-material/dist/theme/all";